article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;background-color: #FFF }
body { margin: 0;}

::-moz-selection { background: #76A938; color: #fff; text-shadow: none; }
::selection { background: #76A938; color: #fff; text-shadow: none; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@import "nivo";

body {
	font:0.83em Georgia, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height:1.35em;
	font-weight: lighter;
	color:#7B7B7D;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

#wrapper {
	width: 1200px;
	margin: auto;
	
	.upper {
		.left, .right {
			float: left;
		}
	
		.left {
			padding: 30px 0px 0px 180px;
			margin: 20px 0px 0px 0px;
			width: 320px;
			height: 670px;
			background: url('../images/frame.png') bottom left no-repeat;
			
			header {
				margin: 42px 0px 0px 0px;
				color: #c7c7c7;
				font-family: Berthold;
				font-size:38px;
				color: #76A938;
				line-height: 36px;
			}
			
			p {
				margin: 15px 0 0 0;
			}

			.logo {
				margin: 47px 0 0 0;
			}
			
			.desc {
				margin: 0 0 0 3px;
			}
			
			.darker {
				color: #404042;
			}
		}
	}

	footer {
		margin: 8px 0 0 0;
		padding: 0 0 0 180px;
		color: #CFCFD1;
	}
}


	.right {
		width: 700px;

		.theme-default #slider {
    		margin:30px auto 0 auto;
    		width:700px; /* Make sure all images are the same size, otherwise transitions will look weird. */
    		height:620px;
		}
	}
}