article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@import "nivo";

body {
	font:0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color:#222;
}

#wrapper {
	width: 1000px;
	margin: auto;

	.left, .right {
		float: left;
	}

	.left {
		width: 250px;
	}

	.right {
		width: 750px;

		.theme-default #slider {
    		margin:100px auto 0 auto;
    		width:618px; /* Make sure your images are the same size */
    		height:246px;
		}
	}
}